* {
    box-sizing: border-box;
}

#projects {
    display: grid;
    width: 90%;
    margin: auto;
    gap: 10px;
}

.project-hover {
    position: absolute;
    left: 50%;
    bottom: 10px;
    transform: translateX(-50%);
    border: none;
    padding: 4px;
    background-color: orange;
    border-radius: 2px;
    font-size: 12px;
}

.thumbnail {
    border-radius: 4px;
    box-shadow: 0px 0px 10px lightgray;
    position: relative;
}

.view-svg {
    margin-right: 3px;
    width: 16px;
}

@media (min-width: 576px) {

}

@media (min-width: 768px) {
    #projects {
        width: 80%;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
        "project-header ."
        "project-1 project-2"
        "project-3 ."
        ;
    }
    
    #projects-header {
        grid-area: project-header;
    }
    
    #project-1 {
        grid-area: project-1;
    }
    
    #project-2 {
        grid-area: project-2;
    }
    
    #project-3 {
        grid-area: project-3;
    }

    .project-hover {
        bottom: 15px;
    }
}